body {
  font-family: cursive;
  margin: 10px 50px 20px 0;
  padding: 10px;
  background-color: rgba(216, 222, 222, 0.542);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

h1 {
  grid-column: 1 / -1;
  text-align: center;
  margin-bottom: 10px;
  background-color: rgb(16, 169, 207);
  color: red;
}

.unit {
  border-block-end-style: groove;
  writing-mode: horizontal-tb;
  padding: 20px;
  margin-bottom: 20px;
}

img {
  display: block;
  margin: 0 auto;
  border-style: dashed groove none dotted;
}

.unitList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

fieldset {
  border: thick double #32a1ce;
  padding: 40px;
}

label {
  display: block;
  margin-bottom: 1px;
}

input[type="text"],
select {
  width: 100%;
  padding: 1px;
  margin-bottom: 1px;
  color: #161855ec;
  background-color: rgb(245, 238, 238);
}

input[type="submit"],
input[type="reset"] {
  padding: 10px 20px;
  background-color: rgb(167, 204, 0);
  color: blue;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}
